+SPRESENSE_M1_COPTER_LINK=y
+CXD56_GNSS_ADDON=y
+SENSORS=y
+SENSORS_CXD5610_GNSS=y
+SENSORS_CXD5610_GNSS_NSIGNALRECEIVERS=4
+SENSORS_CXD5610_GNSS_RX_THREAD_PRIORITY=120
+SENSORS_CXD5610_GNSS_RX_THREAD_STACKSIZE=2048
+SENSORS_CXD5602PWBIMU=y
+CXD56_CXD5602PWBIMU_SPI5_DMAC=y
+CXD56_SPI5_PINMAP_EMMC=y
+SPECIFIC_DRIVERS=y
+DEBUG_LINK_MAP=y
+CXD56_GNSS_RAM=y
+CXD56_GNSS_HEAP=y
+LIBM_NEWLIB=y
+BOARDCTL=y
+PTHREAD_MUTEX_TYPES=y
+PRIORITY_INHERITANCE=y
+INIT_ENTRYPOINT="arducopter_spresense_main"
+INIT_PRIORITY=180
+INIT_STACKSIZE=65536
+UART1_BAUD=115200
+UART1_RXBUFSIZE=8192
+UART1_TXBUFSIZE=8192
+UART1_SERIAL_CONSOLE=y
-UART2_SERIAL_CONSOLE=y
-UART2_IFLOWCONTROL=y
-UART2_OFLOWCONTROL=y
-SYSTEM_NSH=y
-SYSTEM_CDCACM=y
-SYSTEM_USBMSC=y
-CXD56_GNSS=y
-CXD56_EMMC=y
-CXD56_PWM=y
-PWM=y
-LIBM_TOOLCHAIN=y
