+SPRESENSE_M1_GCS=y
+SPRESENSE_M1_GCS_DEVICE="/dev/ttyS0"
+SPRESENSE_M1_GCS_BAUD=115200
+CXD56_GNSS_ADDON=y
+SENSORS=y
+SENSORS_CXD5610_GNSS=y
+SPECIFIC_DRIVERS=y
+DEBUG_LINK_MAP=y
+CXD56_GNSS_RAM=y
+CXD56_GNSS_HEAP=y
+BOARDCTL=y
+INIT_PRIORITY=180
+INIT_STACKSIZE=32768
+UART1_BAUD=115200
+UART1_RXBUFSIZE=4096
+UART1_TXBUFSIZE=4096
+UART2_SERIAL_CONSOLE=y
-UART1_SERIAL_CONSOLE=y
-UART2_IFLOWCONTROL=y
-UART2_OFLOWCONTROL=y
-SYSTEM_NSH=y
-SYSTEM_CDCACM=y
-SYSTEM_USBMSC=y
-CXD56_GNSS=y
-CXD56_PWM=y
-PWM=y
